
body{
    background-color: teal;
}
ul{
    text-decoration: none;
    display: inline-block;   
}
ol{
    text-decoration: none; 
    text-align: left; 
}
ul li{
    display: inline-block;
    padding: 30px;
    border-left: orange 2px solid;
    border-bottom: orange 2px solid;
    font-family: 'Franklin Gothic Medium';
    font-size: 24px;
}